@import "tailwindcss";

@theme {
  /* Custom theme configuration for Tailwind v4 can go here */
}

.dark-theme{
    --root_background: #1f1f1f;
}

.light-theme{
    --root_background: white;
}

:root{
    background-color: #1f1f1f;
}
